<app-loading *ngIf="showLoading"></app-loading>

<div class="row mt-2">
    <div class="col-md-6 mb-4" *ngIf="teacherSelected || newTeacher">
        <div class="d-flex justify-content-between">
            <div class="">
                <app-titulo [titulo]="newTeacher ? 'Novo Professor' :'Matrícula: ' + teacherSelected.id"></app-titulo>
            </div>

            <app-generic-button containerClass="mt-2" buttonClass="btn btn-outline-danger" iconClass="bi bi-x-lg"
                [handleClick]="close" [showActions]="showActions">
            </app-generic-button>
        </div>

        <form [formGroup]="teacherForm" (submit)="submit()">
            <div class="form-group col-md-6 mb-4">
                <label for="name" class="mb-2">Nome</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <!-- <div class=" form-group col-md-6 mb-4">
                <label for="discipline" class="mb-2">Disciplina</label>
                <input type="text" class="form-control" id="discipline" formControlName="disciplines">
            </div> -->

            <button class="btn btn-success" [disabled]="!teacherForm.valid">{{newTeacher ? 'Cadastrar'
                :'Atualizar'}}</button>
        </form>
    </div>

    <div [ngClass]="{'col-md-6' :teacherSelected || newTeacher, 'col-md-12':!teacherSelected && !newTeacher}">
        <div class="d-flex justify-content-between">
            <div class="">
                <app-titulo [titulo]="title"></app-titulo>
            </div>

            <app-generic-button containerClass="mt-1" iconClass="bi bi-person-add" buttonClass="btn btn-outline-success"
                [handleClick]="handleNewTeacher" [showActions]="showActions">
            </app-generic-button>
        </div>

        <table class="table table-hover">
            <thead class="thead-light" *ngIf="!showLoading">
                <tr class="bg-light">
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Disciplinas</th>
                    <th scope="col" *ngIf="showActions">Ações</th>
                </tr>
            </thead>

            <tbody *ngIf="!showLoading">
                <tr *ngFor="let teacher of teachers">
                    <td scope="row">{{teacher.id}}</td>
                    <td>{{teacher.name}}</td>
                    <td>
                        <span *ngFor="let discipline of teacher.disciplines">
                            {{discipline.name}}&nbsp;
                        </span>
                    </td>
                    <td *ngIf="showActions">
                        <button title="Visualizar" class="btn btn-outline-warning border-0 ml-4"
                            (click)="teacherSelect(teacher)">
                            <i class="bi bi-info-circle"></i>
                        </button>
                        <button title="Professores" class="btn btn-outline-primary border-0 ml-4"
                            (click)="openModal(template)">
                            <i class="bi bi-people"></i>
                        </button>
                        <button title="Desativar" class="btn btn-outline-danger border-0 ml-4">
                            <i class="bi bi-person-slash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="pull-left"></h4>

            <app-generic-button iconClass="bi bi-x-lg" buttonClass="btn btn-outline-danger btn-sm pull-right"
                [handleClick]="modalRef?.hide" [showActions]="showActions">
            </app-generic-button>
        </div>
        <div class="modal-body">
            <app-students [showActions]="false"></app-students>
        </div>
    </ng-template>