<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="dashboard" routerLinkActive="active">Smart School</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="alunos" routerLinkActive="active">Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="professores" routerLinkActive="active">Professores</a>
                </li>
            </ul>

            <ul class="navbar-nav" ngbDropdown #myDrop="ngbDropdown">
                <li>
                    <a routerLink="#" type="button" class="nav-link" id="dropdownManual" ngbDropdownAnchor
                        (focus)="myDrop.open()">
                        Jonatas
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                        <a routerLink="perfil" ngbDropdownItem>Perfil</a>
                        <a routerLink="#" ngbDropdownItem>Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>